<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Chores</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <!--<form (ngSubmit)="addTask()">
      <ion-item>
        <ion-input type="text" placeholder="Add Task" [(ngModel)]="newTask.newName" name="newName"></ion-input>
      </ion-item>
      <ion-item style="position: absolute; left: -9999px; width: 1px; height: 1px;">
          <button ion-button type="submit"></button>
      </ion-item>
    </form>-->
    <button ion-button full icon-left [navPush] = "assignPage">
      <ion-icon name="add-circle"></ion-icon>
      Add Task
    </button>

    <ion-item-sliding *ngFor="let item of items">
      <ion-item>
        <ion-label >{{item.name}}</ion-label>
        <ion-checkbox color="secondary" ng-model="item.completed" ng-true-value="1" ng-false-value="0" ng-checked = "item.completed == 1" ></ion-checkbox>
      </ion-item>
      <ion-item-options side="right">
        <button (click)="removeTask(item._id)" ion-button color="danger">
          Remove
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
